<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div>
        <main>
            <div>
                <div>

                    <a href="{{route('admin.roles.create')}}"
                        class="bg-blue-500 text-white font-bold px-5 py-1 rounded focus:outline-none shadow hover:bg-blue-500 transition-colors ">New
                        Role</a>
                </div>


                <div>
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    Role Name</th>
                                <th>
                                    Permissions</th>
                                <th>
                                    Actions</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>role name</td>
                                <td>

                                    <span>permission_name
                                    </span>

                                </td>
                                <td>


                                    <a href="" ">Edit</a>
                                  

                                  
                                    <form action="" method=" POST" class="inline">

                                        <button>Delete</button>
                                        </form>


                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </main>
    </div>
    </div>
</body>

</html>